html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    color: hsl(82, 39%, 20%);
    background-color: hsl(56, 38%, 90%);
    box-shadow: inset 0px 0px 30px 0px rgba(104, 79, 17, 0.63);
    padding: 12px;
    margin: 0px;
}

.body--light {
    color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 96%);
}